@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --primary: #24338c;
    --secondary: #34ad44;
    --success: #90c91d;
    --info: #00a8bf;
    --error: #ebb402;
    --warning: #d43232;
    --text: #2d2d2d;
    --text-dark: #2d2d2d;
    --text-secondary: #818181;
    --text-placeholder: #c0c6cd;
    --border-dark: #e8eaed;
    --border-light: #f4f5f6;
    --background: #f5f7fa;
    --card-background: #ffffff;
    --white-background: #ffffff;
    --icon-dark: #ffffff;
    --icon-light: #ffffff;
    --dark-background: #e8eaed;
    --hover-bg: #3bc44e;
  }

  .dark {
    --primary: #4c5cba;
    --secondary: #4c9a5d;
    --success: #7ca63e;
    --info: #2caac1;
    --error: #d79c36;
    --warning: #b55353;
    --text: #e0e0e0;
    --text-dark: #fff;
    --text-secondary: #a2a2a2;
    --text-placeholder: #7a828b;
    --border-dark: #222433;
    --border-light: #33364c;
    --background: #10121d;
    --card-background: #161824;
    --white-background: #040612;
    --icon-dark: #ffffff;
    --icon-light: #ffffff;
    --dark-background: #040612;
    --hover-bg: #3bc44e;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background:
    radial-gradient(farthest-side, #3bc44e 94%, #0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%, #3bc44e);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}
